/*
* @Author: Administrator
* @Date:   2018-08-25 10:01:24
* @Last Modified by:   Administrator
* @Last Modified time: 2018-08-25 13:01:22
*/
/* 初始化 */
*{
	margin: 0;
	padding: 0;
}
html,body{
	font-size: 14px;
	font-family: '微软雅黑';
}
a{
	text-decoration: none;
}
ul{
	list-style-type: none;
}
/* 公共类 */
.overflowH{
	overflow: hidden;
}
.autoW{
	width: 1002px;
	margin: 0 auto;
}
.left{
	float: left;
}
.right{
	float: right;
}
.father:after{
	content: "";
	display: block;
	clear: both;
}
/* 头部header */
.header{
	/* border: 1px solid red; */
	/* height: 35px; */	
}
.header .top{
	/* border: 1px solid blue;	 */
	background: #383838;	
}
.header .top .con{
	line-height: 35px;
	color:  #FDF9F9;
	/* border: 1px solid red; */
}
.header .top .con .leftBox img{
	margin-top: 4px;
	float: left;
	margin-right: 10px;
}
.header .top .con .leftBox a{
	color: #FDF9F9;
	margin-left: 3px;
}
.header .top .con .rightBox{
	/* border: 1px solid red; */
}
.header .top .con .rightBox img{
   margin-top: 10px;
   margin-left: 10px;
   float: left;
}
.header .top .con .rightBox a{
	float: left;
	color: #FDF9F9;
}
.header .top .con .rightBox .line{
	margin-left: 10px;
    color: #808080;
}
.header .center{
   margin-top: 2px;
   /* margin-left: 100px; */
}
.header .center>img{
	margin-top: 35px;
}
.header .center .rightBox{
	/* border: 1px solid red; */
	margin-top: 50px;
	margin-right: 0px;
}
.header .center .rightBox .info{
	width: 110px;
	line-height: 42px;
	border: 1px solid #A9A9A9;
	border-right: none;
    padding-left: 10px;
    font-size: 16px;
    color: #C6C6C6;
}
.header .center .rightBox .info img{
	float: right;
	margin-top: 16px;
	margin-right: 2px;
}
.header .center .rightBox input{
	height: 40px;
	width: 240px;
	padding-left: 15px;
	color: #C6C6C6;
	font-size: 16px;
}
.header .center .rightBox .search{
	border: 1px solid #A9A9A9;
	border-left: none;
	height: 42px;
	width: 60px;
}
.header .center .rightBox .search a{
	float: left;
	margin-top: 8px;
	margin-left: 15px;
}
.header .bottom{
	background: #0A7724;
	margin-top: 24px;
}
.header .bottom .con{
    
}
.header .bottom .con a{
	color: white;
	font-size: 16px;
	padding-left: 40px;
	padding-right: 40px;
	line-height: 48px;
	display: inline-block;
    border-top:5px solid transparent; 
}
.header .bottom .con a.current{
	background: #F78A00;
	border-top:5px solid #D44508;
}
.header .bottom .con a:hover{
	background: #F78A00;
	border-top:5px solid #D44508;
}
.middle{
	margin-top: 16px;
	/* border: 1px solid red; */
}
.middle .report{
	/* border: 1px solid #939393; */
    line-height: 18px;
    width: 719px;
    /* margin-left: 2px; */
    margin-bottom: 8px;
}
.middle .report img{
    margin-top: 1px;
    float: left;
}
.middle .report .zhannei{
	font-weight: bolder;
	font-size: 16px;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.middle .banner{
	 position: relative;
	 width: 725px;
	 float: left;
}
.middle .banner .pic3{
	position: relative;
	float: left;
}
.middle .banner .pic0{
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 10;
    /* margin-left: 4px; */
    display: none;
}
.middle .banner .pic1{
	display:block;
}
.middle .banner .pic2{
	position: absolute;
	top: 30px;
	left: 24px;
	z-index: 11;
}
.middle .rightPic{
	/* border: 1px solid blue; */
	width: 260px;
	float: right;
}
.middle .rightPic img{
	margin-top: 3px;
	margin-left: 3px;
}
.middle .rightPic .img0{
	margin-top: 0;
}
.center1{
	margin-top: 28px;
}
.center1 .leftbox{
	width: 263px;
	/* border: 1px solid red; */
}
.center1 .header1{
	padding-bottom: 18px;
	
	font-size: 18px;
	color: #097625;
	line-height: 20px;
}
.center1 .header1 i{
	width: 5px;
	height: 20px;
	background: #F58301;
	float: left;
	/* margin-left: 5px; */
	margin-right: 3px;
}
.center1 .header1 a{
	font-size: 14px;
	color: #2C81CB;
	float: right;
}
.center1 .leftbox .list1{
	border: 1px solid #DDDDDD;
	padding: 15px 15px 15px 20px;
	font-size: 13px;
}
.center1 .leftbox .list1 li{
    /* border: 1px solid red; */
    line-height: 31px;
}
.center1 .leftbox .list1 a{
	color: #7B7B7B;
}
.center1 .leftbox .list1 span{
	font-size: 12px;
	float: right;
}
.center1 .leftbox>img{
	margin-top: 20px;
	margin-bottom: 30px;
}
.center1 .leftbox .list2 li{
	padding: 15px 0;
	font-size: 12px;
	color: #A5A5A5;
	line-height: 25px;
	border-bottom: 1px solid #E5E5E5;
	margin-bottom: -7px;
	/* border: 1px solid red; */
}
.center1 .leftbox .list2 .li_3{
	border-bottom: none;
}
.center1 .leftbox .list2 li:last-child{
	border-bottom: none;
	/* border: 1px solid red; */
	margin-top: -15px;
	width: 73px;
	/* height: 10px; */
	margin-left: auto;
	margin-right: auto;
}
.center1 .leftbox .list2 img{
	float: left;
	margin-right: 6px;
	margin-left: 10px;
	margin-top: 3px;
}
.center1 .leftbox .list2 a{
	font-size: 16px;
	/* font-weight: bold; */
	color: #000000;
	font-family: "微软雅黑";
}
.center1 .leftbox .list3{
	border: 1px solid #DDDDDD;
	padding: 20px 15px;
}
.center1 .leftbox .list3 li{
	line-height: 36px;
	color: #7B7B7B;
	font-size: 14px;
}
.center1 .leftbox .list3 li{
	border-bottom: none;
}
.center1 .leftbox .list3 span{
	color: #0D9104;
	font-weight: bold;
	margin-right: 2px;
}
.center1 .leftbox .list3 a{
	color: #7B7B7B;
}
.center1 .leftbox .list3 .box1{
	color: #7B7B7B;
	font-size: 12px;
	float: right;
}
.center1 .rightbox{
	width: 721px;
	/* border: 1px solid red; */
}
.center1 .rightbox .header2{
	border-bottom: 3px solid #E5E5E5;
	padding-bottom: 17px;
}
.center1 .rightbox .list1{
	margin-top: 20px;
	/* border: 1px solid blue; */
	overflow: hidden;
	border-bottom: 1px solid #E39242;
}
.center1 .rightbox .list li{
	border: none;
	margin-left: 5px;
}
.center1 .rightbox .list1 a{
	float: left;
	padding: 0 10px;
	line-height: 35px;
	/* background: yellow; */
	text-align: center;
	font-size: 16px;
	color: #626262;
}
.center1 .rightbox .list1 a.current{
	margin-left: 0;
	background:#E39242;
	color: white;
	font-weight: bold;
	padding: 0 12.5px; 
}
.center1 .rightbox .list1 a:hover{
	margin-left: 0;
	background:#E39242;
	color: white;
	/* font-weight: bold;  */
}
.center1 .rightbox .list3{
	margin-top: 20px;
	margin-bottom: 15px;
	font-size: 16px;
	border-bottom: 1px solid #E5E5E5;
}
.center1 .rightbox .list2 li{
	float: left;
	margin-left: 52px;
	width: 100px;
	/* border: 1px solid blue; */
	text-align: center;
	color: #626262;
	line-height: 43px;
}
.center1 .rightbox .list2 li:first-child{
	margin-left: 0;
}
.center1 .rightbox .list2 a{
   color: white;
   width: 88px;
   line-height: 30px;
   background: #F58301;
   display: inline-block;
   text-align: center;
}
.center1 .rightbox .list4{
	border-bottom: 1px solid #E5E5E5;
	padding-bottom: 5px;
}
.center1 .rightbox .nav{
	width: 150px;
	margin: 15px auto 0 auto;
	/* border: 1px solid red; */
	overflow: hidden;
}
.center1 .rightbox .nav a{
	width: 24px;
	line-height: 20px;
    outline: 1px solid #DDDDDD;
    text-align: center;
    color: #787878;
    float: left;
    margin-right: 8px;
}
.center1 .rightbox .nav a.current{
	font-weight: bold;
	color: white;
	background: #E03232;
	outline:none;
}
.center1 .rightbox .nav a:hover{
	font-weight: bold;
	color: white;
	background: #E03232;
	outline:none;
}
.center1 .rightbox .nav a:last-child{
	width: 50px;
	margin-right: 0;
}
.bottom1{
	background: #383838;
	padding-top: 27px;
	margin-top: 50px;
	padding-bottom: 40px;
}
.bottom1 .con .list2{
	/* border: 1px solid red; */
	/* margin-top: 24px; */
}
.bottom1 .con .list2 li{
	float: left;
	color: #B1B1B1;
	margin-left: 12px;
}
.bottom1 .con .list2 li:first-child{
	margin-left: 0;
}
.bottom1 .con .list2 li a{
	color: #B1B1B1;
}
.bottom1 .con .list3{
	/* border: 1px solid blue; */
	margin-top: 12px;
	color: #B1B1B1;
	line-height: 24px;
	width: 480px;
	float: left;
}
.bottom1 .con .list4{
   float: right;
   margin-top: 40px;
}
.bottom1 .con .list4 li{
	float: left;
	margin-left: 8px;
}



